{
    "presets": [
      [
        "@babel/preset-env", {
          "useBuiltIns": "entry",
          "corejs": 3,
          "targets": {
            "ie": "11"
          },
          "modules": false
        }
      ],
      "@babel/preset-typescript"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      // "@babel/plugin-transform-runtime",
      "@babel/plugin-transform-regenerator"
    ],
    "exclude": "node_modules/**"
}