#login_buttons,
#register_buttons,
#welcome_buttons{
  right: 19px;
  margin-top: 52px;
  position: absolute;
}
#login_buttons > button,
#register_buttons > button,
#welcome_buttons > button{
  margin-left: 10px;
}
#login_spinner{
  margin-top: 160px;
  position: absolute;
  right: 12px;
  bottom: 45px;
  display: block;
}
#login_text,
#register_text,
#welcome_text{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#welcome_header{
  text-align: center;
  margin-top: 20px;
}
#stack_login{
  margin-left: 10px;
  margin-right: 10px;
}
.ms-MessageBar{
  margin-top: 10px;
}

.ms-TextField-wrapper{
  margin-top: 20px;
}