#root_login{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#login_buttons,
#register_buttons,
#welcome_buttons{
  float: right;
}
.login_page_form{
  margin-bottom: 50px;
}

#login_buttons > button,
#register_buttons > button,
#welcome_buttons > button{
  margin-left: 10px;
}
#login_spinner{
  margin-top: -65px;
  float: right;
}
#login_text,
#register_text,
#welcome_text{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#welcome_header{
  text-align: center;
  margin-top: 20px;
}
#stack_login{
  margin-left: 10px;
  margin-right: 10px;
}
#login_messagebar{
  margin-top: -84px;
}

.ms-TextField-wrapper{
  margin-top: 20px;
}